.text-field {
}

.dx-root-simple-item {
  .dms-form-field {
    &.dx-field-item {
      padding-bottom: 0;
    }
  }
  .dx-field-item-label {
    &.dx-field-item-label-location-top {
      padding-bottom: 6px;
    }
  }
  margin-bottom: 0;
}
