.Mst_Inventory_SelectField {
  .dx-texteditor-input-container {
    border: 0.5px solid #5f7d95;
    border-right: 0;
  }
  .dx-texteditor-buttons-container {
    border: 0.5px solid #5f7d95;
  }
}
.Mst_Inventory_TextField {
  .dx-texteditor-input-container {
    border: 0.5px solid #5f7d95;
  }
}
.Mst_Inventory_TextAreaField {
  .dx-texteditor-input-container {
    border: 0.5px solid #5f7d95;
  }
}
